@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  background-color: hsl(27, 66%, 92%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  max-width: 545px;;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1em;
}